<mat-toolbar class="toolbar mat-elevation-z4">
    <a routerLink="/">
        <img src="assets/img/logo.svg" alt="logo" class="logo">
        <div class="title-group">
            <i class="material-icons">theaters</i>
            <h1>Films Blog</h1>
        </div>
        <nav>
          <button class="mat-button" mat-icon-button [mat-menu-trigger-for]="afterMenu">
              <mat-icon>Menu</mat-icon>
        </button>
        <mat-menu class="mat-menu-content disable" #afterMenu="matMenu" xPosition="after">
            <Button mat-menu-item>
                <a routerLink="/" class="link">
                    <mat-icon class="mat-menu-description">home</mat-icon>
                    <span class="mat-menu-description">Home</span>
                </a>
            </Button>
            <Button mat-menu-item (click)="about()">
                <a routerLink="/" class="link">
                    <mat-icon class="mat-menu-description">import_contacts</mat-icon>
                    <span class="mat-menu-description">About the Author</span>
                </a>
            </Button>
        </mat-menu>
        </nav>
    </a>
    <ul class="list">
        <li>
            <a class="link-item" title="Home" routerLink="/">
                <mat-icon>home</mat-icon>
                <span>home</span>
            </a>
        </li>
        <li>
            <a class="link-item" title="about the author" (click)="about()">
                <mat-icon>import_contacts</mat-icon>
                <span>about the author</span>
            </a>
        </li>
    </ul>
</mat-toolbar>

